@layer base {
  /* src is relative to `global.css` */

  /* FraktionMono */
  @font-face {
    font-family: 'PPFraktionMono';
    src: url('/fonts/PPFraktionMono/PPFraktionMono-Bold.woff2');
    font-weight: 700;
    font-style: normal;
  }

  /* NeueMontreal */
  @font-face {
    font-family: 'PPNeueMontreal';
    src: url('/fonts/PPNeueMontreal/PPNeueMontreal-Regular.woff2');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'PPNeueMontreal';
    src: url('/fonts/PPNeueMontreal/PPNeueMontreal-Medium.woff2');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'PPNeueMontreal';
    src: url('/fonts/PPNeueMontreal/PPNeueMontreal-Bold.woff2');
    font-weight: 700;
    font-style: normal;
  }
}
