@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/quicksand/static/Quicksand-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/quicksand/static/Quicksand-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/quicksand/static/Quicksand-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/quicksand/static/Quicksand-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/quicksand/static/Quicksand-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
