---
// Base Styles
import '../styles/main.css';

// Component Imports
import Header from '../components/Header';
import Footer from '../components/Footer';
import Hero from '../components/Hero';
import Tech from '../components/Tech';
import Stats from '../components/Stats';
import Tasks from '../components/Tasks';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>I am Brent</title>
    <meta name="description" content="Specializing in custom websites and apps. Let's create something together." />
  </head>
  <body>
    <Header />
    
    <main class="mb-4">
      <div class="grid gap-4">
        <Hero />
        <Tech />
        <Stats />
        <Tasks />
      </div>
    </main>

    <Footer />
  </body>
</html>
