---
// Base Styles
import '../styles/main.css';

// Component Imports
import Header from '../components/Header';
import Hero from '../components/Hero';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>I am Brent</title>
    <meta name="description" content="Specializing in custom websites and apps. Let's create something together." />
  </head>
  <body>
    <Header />
    
    <main>
      <Hero />
    </main>
  </body>
</html>
